upstream app {
{% for server in nginx_upstream_servers %}
    server {{ hostvars[server].ansible_host | default(server) }}:{{ hostvars[server].app_runtime_port | default('8000') }};
{% endfor %}
    keepalive 32;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_domain }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
