APP_NAME=EduGarden
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.com

APP_PORT_FORWARD=80

DB_CONNECTION=mysql
DB_HOST={{ env_sync_mysql_host }}
DB_PORT=3306

REDIS_CLIENT=phpredis
REDIS_HOST={{ env_sync_redis_host }}
REDIS_PORT=6379
