.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
.env
.env.local
.env.production
.env.staging
docker-compose.yaml
docker-compose-prod.yaml
Dockerfile
npm-debug.log
yarn-error.log
