[app_servers]
app-1 ansible_host=203.0.113.10 ansible_user=ubuntu public_env_file=/var/www/html/edugarden/.env private_env_file=/opt/edugarden/secret.env

[mysql_servers]
mysql-1 ansible_host=203.0.113.30 ansible_user=ubuntu private_env_file=/opt/edugarden/secret.env

[redis_servers]
redis-1 ansible_host=203.0.113.40 ansible_user=ubuntu

[lb_servers]
lb-1 ansible_host=203.0.113.20 ansible_user=ubuntu nginx_domain=domain.com public_env_file=/var/www/html/edugarden/.env private_env_file=/opt/edugarden/secret.env
